@font-face {
  font-family: "Atlantis Headline";
  src: url("fonts/atlantisheadline-bold-webfont.woff2") format('woff2'),
       url("fonts/atlantisheadline-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
  font-family: "Atlantis";
  src: url("fonts/atlantistext-bold-webfont.woff2") format('woff2'),
       url("fonts/atlantistext-bold-webfont.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
 font-family: "Atlantis";
  src: url("fonts/atlantistext-regular-webfont.woff2") format('woff2'),
       url("fonts/atlantistext-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 font-family: "Atlantis Smallcaps";
  src: url("fonts/atlantis-regularsmallcaps-webfont.woff2") format('woff2'),
       url("fonts/atlantis-regularsmallcaps-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Disable the below rule to start the intro animation!
   Enable to stop it from playing every time */
/*.intro {
    display: none;
}*/

.menuFlex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/bricks.png");
}

.menuFlex::after {
    content: "";
    width: 100%;
    background-color: #FFBA10;
    display: block;
    height: 64px;
    background-image: url("../img/curb.png");
}

.teamFlex {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.teamFlex::after {
    content: "";
    width: 100%;
    background-color: #FFBA10;
    display: block;
    height: 64px;
    background-image: url("../img/curb.png");
}

#team {
    border-image: url("../img/border.png");
    border-image-slice: 24 fill;
    border-image-width: 30px;
    margin: 4em;
    padding: 2em;
}

.teamFlex>div {
    font-size: 2em;
    font-family: "Atlantis", normal;
    color: #DDD184;
    text-shadow: 0px 2px #665642;   
    border-style: dashed solid;
    padding: 2em;
    border-image: url("../img/border1.png");
    border-image-slice: 20 fill;
    border-image-width: 30px;
}
.teamFlex>div>hr{
    color: #DDD184;
}

.door>p {
    text-align: center;
    font-size: 3em;
    font-family: "Atlantis", normal;
    color: #DDD184;
    text-shadow: 0px 2px #665642;   
    border-style: dashed solid;
    margin: 0.6em auto;
    padding: 0.5em 0px;
    border-image: url("../img/border1.png");
    border-image-slice: 20 fill;
    border-image-width: 30px;
}

.door {
    text-decoration: none;
}

.welcomeWall {
    background-color: #3a2130;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation-name: disappear;
    animation-delay: 9s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.welcome {
    font-family: "Atlantis Headline", normal;
    font-size: 6em;
    color: #DDD184;
    text-shadow: 0px 5px #665642;
    animation-fill-mode: both;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    padding: 20% 0;
    pointer-events: none;
    z-index: 2;
}

#firstLine{
    animation-name: vanish;
    animation-delay: 0s;
    animation-duration: 3s;
}

#secondLine{
    animation-name: vanish;
    animation-delay: 3s;
    animation-duration: 3s;
}

#thirdLine{
    animation-name: vanish;
    animation-delay: 6s;
    animation-duration: 3s;
}

body {
    background-color: #3a2130;
    background-image: url("../img/stones.png");
    width: auto; 
    overflow-x: hidden;
    font-family: "Atlantis", normal;
    margin: 0px;
}

@keyframes vanish{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes disappear{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

