@font-face {
  font-family: "Atlantis Headline";
  src: url("fonts/atlantisheadline-bold-webfont.woff2") format('woff2'),
       url("fonts/atlantisheadline-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
  font-family: "Atlantis";
  src: url("fonts/atlantistext-bold-webfont.woff2") format('woff2'),
       url("fonts/atlantistext-bold-webfont.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
 font-family: "Atlantis";
  src: url("fonts/atlantistext-regular-webfont.woff2") format('woff2'),
       url("fonts/atlantistext-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 font-family: "Atlantis Smallcaps";
  src: url("fonts/atlantis-regularsmallcaps-webfont.woff2") format('woff2'),
       url("fonts/atlantis-regularsmallcaps-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Atlantis Headline", normal;
}

.welcomeContainer {
    /*display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;*/
}

.welcome {
    font-size: 6em;
    color: #DDD184;
    text-shadow: 0px 5px #665642;
    animation-fill-mode: both;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    padding: 20% 0;
    pointer-events: none;
}

#firstLine{
    animation-name: vanish;
    animation-delay: 0s;
    animation-duration: 3s;
}

#secondLine{
    animation-name: vanish;
    animation-delay: 3s;
    animation-duration: 3s;
}

#thirdLine{
    animation-name: vanish;
    animation-delay: 6s;
    animation-duration: 3s;
}

body {
    background-color: #3a2130;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Atlantis", normal;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #161B2E;
    font-family: "Atlantis", normal;
    font-weight: 700 !important;
    padding-top: 10px;
}

@keyframes vanish{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

