<head>

    <meta charset="utf-8">
    <title>Hero's Gallery</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="../static/styles/forms.css">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >

</head>

<body class = "container fluid" id = "formsContainer">
    <form action ="/createImage" method = "post" enctype="multipart/form-data">
        <div align = "center" class = "form-group">
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "imageTitle">Image Title</label>
                    <input name = "imageTitle" type="text" class="form-control" maxlength="50" id="imageTitle" placeholder="Type the name of the author of this comment">
                </div>
            </div>
            <br><br>
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "imageDescription">Image Description</label>
                    <input name = "imageDescription" type="text" class="form-control" id="commentDate" >
                </div>
            </div>
            <br><br>
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "file">File</label>
                    <input required name = "file" type="file" accept="image/*" class="form-control">
                </div>
            </div>
            <br>
            <div class = "row">
                <div class = "col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            
        </div>
    </form>
</body>