<head>

    <meta charset="utf-8">
    <title>Hero's Diary</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="../static/styles/forms.css">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >

</head>

<body class = "container fluid" id = "formsContainer">
    <form action ="/createPost" method = "post">
        <div align = "center" class = "form-group">
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "postTitle">Post Title</label>
                    <input name = "postTitle" type="text" class="form-control" maxlength="50" id="postTitle" placeholder="Type the name of the author of this comment">
                </div>
            </div>
            <br><br>
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "postDate">Post Date</label>
                    <input name = "postDate" type="date" class="form-control" maxlength="8" id="postDate" placeholder="mm/dd/yr">
                </div>
            </div>
            <br><br>
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "postCategory">Post Category</label>
                    <select name = "postCategory" class = "form-control" id="postCategory" name="cars">
                        <option value="VG">Videogames</option>
                        <option value="AN">Anime</option>
                        <option value="OT">Off-Topic</option>
                        <option value="PR">Professional</option>
                      </select>
                </div>
            </div>
            <br>
            <br><br>
            <div class = "row">
                <div class = "col">
                    <label class = "formLabel" for = "postBody">Post Content</label>
                    <input name = "postBody" type="text" class="form-control" id="postBody" placeholder="Type the name of the author of this comment">
                </div>
            </div>
            <br>
            <div class = "row">
                <div class = "col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            
        </div>
    </form>
</body>