<head>

    <meta charset="utf-8">
    <title>Hero's Diary</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="../static/styles/blogEntry.css">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >

</head>

<body class = "container fluid" id = "blogEntryContainer">
    
    <!-- FIRST COLUMN-->
    <div class = "row">
        <div class = "col-3" id = "postCategoryCol" align = "left">
            <div id = "postCategoryText" >
                {{postCategory}}
            </div>
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "postCategoryImage"/>
            
        </div>
        
        <div class = "col-6" id = "postTitleCol" align = "center">
            <div id = "postTitleText">
                <h3>{{postTitle}}</h3>
            </div>
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "postTitleImage"/>
            
        </div>

        <div class = "col-3" id = "postDateCol" align = "right">
            <div id = "postDateText">
                {{postDate}}
            </div>
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "postDateImage"/>
            
        </div>
    </div>

    <!-- SECOND COLUMN-->
    <div class = "row">
        <div class = "col-2" align = "center" id = "prevPostCol" onclick = "window.location.href='{{ url_for( 'loadPrevPost') }}';">
            <img class = "img-fluid" src = "../static/img/buttonImage.png"   id = "prevPostImage"/>
            <div id = "previousPostTextContainer">
                <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "prevPostImageTextImage"/>
                <div id = "prevPostText">
                    Previous Post
                </div>
            </div>
        </div>

        <div class = "col-10" align = "center" id = "postBodyCol">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "postBodyImage"/>
            <div id = "postBodyText">
                {{postBody}}
            </div>
        </div>

        <div class = "col-2" align = "center" id = "nextPostCol" onclick = "window.location.href='{{ url_for( 'loadNextPost') }}';">
            <img class = "img-fluid" src = "../static/img/buttonImage.png"  id = "nextPostImage"/>
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "nextPostImageTextImage"/>
            <div id = "nextPostText">
                    Next Post
            </div>
        </div>
    </div>

    <!-- THIRD COLUMN-->
    <div class = "row">
        <div class = "col" align = "center">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "commentSectionImage"/>
            <div id = "commentSectionImageText">
                Comments From<br> the Realm
            </div>
        </div>
    </div>


    <!-- FOURTH COLUMN-->
    <div class = "row">
        <div class = "col-2" align = "center" id = "prevCommentCol" onclick = "window.location.href='{{ url_for( 'loadPrevComment') }}';">
            <img class = "img-fluid" src = "../static/img/buttonImage.png"  id = "prevCommentImage"/>
            <div id = "previousCommentTextContainer">
                <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "prevCommentImageTextImage"/>
                <div id = "prevCommentText">
                    Prev. Comment
                </div>
            </div>
        </div>

        <div class = "col-10" align = "center" id = "commentBodyCol">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "commentBodyImage"/>
            <div class = "container fluid" id = "commentInfoContainer">
                <div class = "row">
                    <div class = "col" id = "commentAuthor" align = "left">
                        By: {{commentAuthor}}
                    </div>
                    <div class = "col" id = "commentDate" align = "right">
                        {{commentDate}}
                    </div>
                </div>
                <br><br>
                <div class = "row">
                    <div class = "col" style = "height: 100%;">
                        <div id = "commentBodyText" align = "center">
                            {{commentBody}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-2" align = "center" id = "nextCommentCol" onclick = "window.location.href='{{ url_for( 'loadNextComment') }}';">
            <img class = "img-fluid" src = "../static/img/buttonImage.png"  id = "nextCommentImage"/>
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "nextCommentImageTextImage"/>
            <div id = "nextCommentText">
                    Next Comment
            </div>
        </div>
    </div>

    <br><br><br>
    <!-- FIFTH COLUMN-->
    <div class = "row">
        <div class = "col-3" id = "returnCol">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "returnImage"/>
            <div id = "returnImageText">
                <a href="{{ url_for( 'index') }}">Return</a>
            </div>
        </div>
        
        <div class = "col-3" id = "likesCol">
            <div class = "row">
                <div class = "col-12" onclick = "window.location.href='{{ url_for( 'giveLove') }}';">
                    <img class = "img-fluid" src = "../static/img/heartImage.png"  id = "likesIcon"/>
                </div>
            </div>
            <div class = "row" id = "likeImageInfo">
                <div class = "col-12" id = "likesImageTextCol">
                    <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "likesImage"/>
                    <div id = "likesImageText">
                        Amount of likes: {{LikeCount}}
                        <br><br>
                        Click the heart to like the post!
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-3" id = "commentsCol">
            <div class = "row">
                <div class = "col-12">
                    <img class = "img-fluid" src = "../static/img/commentImage.png" id = "commentsIcon"/>
                </div>
            </div>
            <div class = "row" id = "commentsImageInfo">
                <div class = "col-12" id = "commentsImageTextCol">
                    <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "commentsImage"/>
                    <div id = "commentsImageText">
                        Comment {{currentComment}} / {{totalComments}}
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-3" id = "addCommentCol" onclick = "window.location.href='{{ url_for( 'addCommentForm') }}';">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png"  id = "addCommentImage"/>
            <div id = "addCommentImageText">
                Add Comment
            </div>
        </div>
        <div class = "col-12" id = "addPostCol" onclick = "window.location.href='{{ url_for( 'addPostForm') }}';">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png"  id = "addPostImage"/>
            <div id = "addPostImageText">
                Create a New Post
            </div>
        </div>
    </div>
    
</div>
    
</body>

