<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon'>
    <title>About me</title>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >
</head>

<body>
    <section class="teamFlex">
        <!--<img id="team" src="/static/img/teampic.png">-->
        <br><br>
            <div>

            <p align = "center">My name is José Bernardo Girón Arana (you can call me Bernardo ^^). I'm very interested in Game Development and AI applied to games as well as for Web and Mobile Development.</p>

            <p align = "center"><b><u>Skills:</u></b><br><br> C#, C++, Python, JS, Github, MySql, SQLServer, Unity2d, React, CSS, HTML</p>

            <p align = "center"><b><u>Current Quest:</u></b><br><br> Learning AI algorithms applied to games , working on C++ console applications to practice those algorithms, learning how to create DLLs for Game Maker 2</p>
            
            <p align = "center"><b><u>Hobbies:</u></b><br><br> Compose music for videogames, practice tai chi, exercise, play the piano, sing, and act</p>
            
            <hr>
            <section class = "container fluid">
                <div>
                    <p align ="center">Find me on: </p>
                    <h4 align = "center">Click the image to open a new tab</h4>
                    <br>
                        <div class = "row">
                            <div class = "col" align = "center">
                                <p> Github </p>
                                <a href = "https://github.com/Jobegiar99" target="blank">
                                    <img class = "img-fluid" src = "../static/img/githubIcon.png">
                                </a>
                            </div>

                            <div class = "col" align = "center">
                                <p> LinkedIn </p>
                                <a href = "https://www.linkedin.com/in/jobegiar99/" target="blank">
                                    <img class = "img-fluid" src = "../static/img/linkedLogo.png">
                                </a>

                            </div>

                            <div class = "col" align = "center">
                                <p> Soundcloud </p>
                                <a href = "https://soundcloud.com/jobegiar99" target="blank">
                                    <img class = "img-fluid" src = "../static/img/soundcloudIcon.png">
                                </a>
                            </div>

                            <div class = "col" align = "center">
                                <p> Twitter </p>
                                <a href = "https://twitter.com/jobegiar99" target="blank">
                                    <img class = "img-fluid" src = "../static/img/twitterIcon.png">
                                </a>
                            </div>

                            <div class = "col" align = "center">
                                <p> Itch.io </p>
                                <a href = "https://jobegiar99.itch.io/" target="blank">
                                    <img class = "img-fluid" src = "../static/img/itchioIcon.png">
                                </a>
                            </div>

                            <div class = "col" align = "center">
                                <p> Newgrounds </p>
                                <a href = "https://herbrek.newgrounds.com/" target="blank">
                                    <img class = "img-fluid" src = "../static/img/newgrooundsIcon.gif">
                                </a>

                            </div>

                    </div>
                </div>
            </section>
    </section>
   
</body>

</html>