<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon'>
    <title>{{ title }}</title>
</head>

<body>
    <section class="teamFlex">
        <img id="team" src="/static/img/teampic.png">
            <div>
            <p>Welcome to the lair of the Gamer Fellowship! We're a buncha nerds who like video games, anime, and technology of all kinds!</p>

            <p>Bernardo is a passionate pythonista, he wrote almost the entire back end for this project in a night! He's worked on many projects, such as this, this and this. In his free time, he enjoys playing Smash Bros Ultimate and composing video game music.</p>

            <p>Angelyn is a jack of all trades, and has helped us with concept design and the assets for the project! She drew the picture above! She's a big anime enthusiast and likes creative video games, such as Minecraft.</p>

            <p>Petar worked on implementing the front end design, and refactored the back end to use SQLite instead of MySQL. He's currently working on a video game written in Lua, and plays a ton of puzzles! He can finish the biggest Minesweeper map on hard in 2 minutes.</p>
            </div>
    </section>
</body>

</html>