<head>

    <meta charset="utf-8">
    <title>Hero's Gallery</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="../static/styles/blogEntry.css">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >

</head>

<body class = "container fluid" id = "blogEntryContainer">
    
    <!-- FIRST COLUMN-->
    <div class = "row">
        
        <div class = "col-12" id = "postTitleCol" align = "center">
            <div  style = "margin-left: 5%" id = "postTitleText">
                <h3>{{imageTitle}}</h3>
            </div>
            <img  style = "margin-left: 10%" class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "postTitleImage"/>
            
        </div>

    </div>

    <!-- SECOND COLUMN-->
    <div class = "row">
        <div class = "col-2" align = "center" id = "prevPostCol" onclick = "window.location.href='{{ url_for( 'loadPrevImage') }}';">
            <img class = "img-fluid" src = "../static/img/buttonImage.png"   id = "prevPostImage"/>
            <div id = "previousPostTextContainer">
                <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "prevPostImageTextImage"/>
                <div id = "prevPostText">
                    Previous Img
                </div>
            </div>
        </div>

        <div class = "col-10" align = "center" id = "postBodyCol">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "postBodyImage"/>
            <div id = "postBodyText">
                {{imageDescription}}
            </div>
        </div>

        <div class = "col-2" align = "center" id = "nextPostCol" onclick = "window.location.href='{{ url_for( 'loadNextImage') }}';">
            <img class = "img-fluid" src = "../static/img/buttonImage.png"  id = "nextPostImage"/>
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "nextPostImageTextImage"/>
            <div id = "nextPostText">
                    Next Img
            </div>
        </div>
    </div>

    <!-- THIRD COLUMN-->
    <br><br>
    <div class = "row">
        <div class = "col-12">
            <img class = "img-fluid" id = "galleryImage" src = "../static/img/galleryImageTemplate.jpg"/>
        </div>
    </div>
    <br><br>
    <!-- FOURTH COLUMN-->
    <div class = "row">
        <div class = "col-4" id = "returnCol">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "returnImage"/>
            <div id = "returnImageText" class = "returnButton">
                <a href="{{ url_for( 'index') }}">Return</a>
            </div>
        </div>

        <div class = "col-4" id = "commentsCol">
            <div class = "row" id = "commentsImageInfo">
                <div class = "col-12" id = "commentsImageTextCol">
                    <img class = "img-fluid" src = "../static/img/blogContentBackground.png" id = "commentsImage"/>
                    <div id = "commentsImageText">
                        Image {{currentImage}} / {{totalImages}}
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-4" id = "addCommentCol" onclick = "window.location.href='{{ url_for( 'addImageForm') }}';">
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png"  id = "addCommentImage"/>
            <div id = "addCommentImageText">
                Add Image
            </div>
        </div>
    </div>
    
</div>
    
</body>