<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon'>
    <title>{{ title }}</title>
</head>

<body>
    <nav class="menuFlex">
        <a href="/blog" class="door">
            <p class="sign">Blog</p>
            <img src="/static/img/door.png"
            onmouseover="this.src='/static/img/doorlit.png'"
            onmouseout="this.src='/static/img/door.png'">
        </a>
        <a href="/aboutMe" class="door">
            <p class="sign">About Me</p>
            <img src="/static/img/door1.png"
            onmouseover="this.src='/static/img/door1lit.png'"
            onmouseout="this.src='/static/img/door1.png'">
        </a>
        <a class="door" href="/projects">
            <p class="sign">Projects</p>
            <img src="/static/img/door.png"
            onmouseover="this.src='/static/img/doorlit.png'"
            onmouseout="this.src='/static/img/door.png'">

        </a>
    </nav>
</body>
</html>