<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon'>
    <title>{{ title }}</title>
</head>

<body>
    <div class="welcomeWall intro"></div>
    <aside class="welcome intro" id="firstLine">A long time ago...</aside>
    <aside class="welcome intro" id="secondLine">In a land long forgotten...</aside>
    <aside class="welcome intro" id="thirdLine">Lived the Gamer Fellowship!</aside>
    <header></header>
    <nav class="menuFlex">
        <a href="/blog" class="door">
            <p class="sign">Blog</p>
            <img src="/static/img/door.png"
            onmouseover="this.src='/static/img/doorlit.png'"
            onmouseout="this.src='/static/img/door.png'">
        </a>
        <a href="/character" class="door">
            <p class="sign">Characters</p>
            <img src="/static/img/door1.png"
            onmouseover="this.src='/static/img/door1lit.png'"
            onmouseout="this.src='/static/img/door1.png'">
        </a>
        <a class="door" href="/gallery">
            <p class="sign">Gallery</p>
            <img src="/static/img/door2.png"
            onmouseover="this.src='/static/img/doorlit.png'"
            onmouseout="this.src='/static/img/door2.png'">

        </a>
    </nav>
</body>
</html>