<head>

    <meta charset="utf-8">
    <title>Jobegiar99's Projects</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../static/styles/projectPreview.css">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >

</head>

<body class = "container fluid" id = "blogEntryContainer">
    <div class = "row">
        <div 
            class = "col-12 content"
            align = "center"
            onclick= "window.location.href='{{ url_for( 'addProjectForm') }}';""
        >
            <img class = "img-fluid" src = "../static/img/blogContentBackground.png"/>
            <div class = "createContainer" style = "font-size: 70%; top: 49%; left: 51%">
                <h2 class = "h4">Add Project</h2>
        </div>

        </div>
    </div>
    <div class = "row" style = "overflow: auto; max-height: 80vh;">


        <div class = "col-xs-6 col-m-4 col-xl-4 titlePrev" align = "center">
            <br>
            <div class="card" style="width: 18rem; border-radius: 0px; color: white;  box-shadow: 10px 10px 20px black; text-shadow: 2px 2px 2px black;">
                <img class="card-img-top" src={{projectGif}} alt="Card image cap">
                <div class="card-body">
                    <div align = "center">
                        <h5 class="card-title">{{projectName}}</h5>
                        <p class="card-text">{{projectShortDescription}}</p> <!--35-->
                        <a href="#"  class="btn btn-dark" style = " border-radius: 0px;">Check this Project</a>
                    </div>
                </div>
            </div>
        </div>              
    </div>
</body>